body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-list, .page-detail {
  margin: 20px;
}

.page-detail h2, .page-detail p {
  margin-bottom: 15px;
}

.tab-list {
  margin-top: 20px;
}

.tab-list li {
  margin-bottom: 10px;
  list-style-type: none;
}

.tab-list li::before {
  content: "• ";
  color: #3498db;
  font-size: 20px;
}